#button{
  margin-top: 3%;
  margin-left: 47%
}

.arrow{
  color: orange;
  margin-right: 42%;
  font-size: 30px;
}

.Question2{
  margin-top: 3%;
  margin-bottom: 1%;
  font-size: 20px;
  font-weight: bold;
}
